*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --bg-primary: #161a30;
  --bg-secondary: #f0ece5;
  --bg-thridy: #31304d;
  --bg-forthy: #d1ccc5;
  --text-primary: #31304d;
  --text-secondary: #b6bbc4;
  --input-primary: #f0ece5;
  --input-secondary: #b6bbc4;
  --webkit-box-shadow: 0px 6px 30px 3px rgba(0, 0, 0, 0.3);
  --box-shadow: 0px 6px 30px 3px rgba(0, 0, 0, 0.3);
  --btn-primary: #f0ece5;
  --btn-secondary: #a7d397;
}

/* button styles */

.btn-primary {
  background-color: var(--btn-primary);
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: var(--bg-thridy);
}

.btn-primary:active {
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: var(--btn-secondary);
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.btn-secondary:hover {
  background-color: var(--bg-thridy);
}

.btn-secondary:active {
  transform: translateY(-2px);
}

/* button styles */

/* navigation start */

.title-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  height: 13vh;
  box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}

.title-nav > h2 {
  font-family: "Lobster", sans-serif;
}

a,
button {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 280px;
}

.navigation {
  position: fixed;
  right: -500px;
  width: 350px;
  height: 100%;
  transition: 0.5s;
  background-color: var(--bg-secondary);
  box-shadow: var(--webkit-box-shadow);
  box-shadow: var(--box-shadow);
}

.navigation ul li {
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 20px 30px;
  border-bottom: 1pt solid;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--text-primary);
}

li:hover {
  background-color: var(--bg-forthy);
  color: #f0ece5;
  cursor: pointer;
}

/* navigation finish */

/* hamburger nav start*/

.hamburger,
.bar {
  position: fixed;
}

.hamburger {
  display: block;
  top: 5%;
  left: 95%;
  width: 30px;
  height: 30px;
  transform: translate(-50%);
  border: 0;
  background: 0;
}

.hamburger:hover {
  border-radius: 20%;
  background-color: gray;
  background-size: 80px;
}

.bar {
  top: 3px;
  background: var(--bg-secondary);
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  background-color: #fff;
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: #fff;
  transform: rotate(-45deg) translate(6px, -5px);
}

/* hamburger finish */

/* content box start */

.container {
  background-color: var(--bg-primary);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 200px;
  color: var(--text-secondary);
}

.text-center {
  text-align: center;
}
.text-style {
  display: flex;
  flex-flow: wrap column;
  padding: 16px;
  gap: 12px;
}

.input {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  font-size: large;
  border: 1px solid;
  text-align: center;
}

.input-style {
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  font-size: large;
  border: 1px solid;
  text-align: center;
}

.input-style:hover {
  border-radius: 15px;
  background-color: var(--input-secondary);
}

.input-style:focus {
  border-radius: 15px;
}

.p-alert {
  color: red;
}

/* content box finish */

@media screen and (max-width: 476px) {
  .navbar {
    width: 20%;
  }

  nav {
    width: 190px;
  }

  .navigation {
    width: 250px;
  }

  .navigation ul li a {
    justify-self: center;
    align-self: center;
    width: 20%;
  }

  .container {
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-secondary);
    gap: 0;
  }

  .text-center {
    width: auto;
  }

  .img-style {
    width: 95%;
    height: 95%;
  }
}

@media screen and (max-width: 950px), (max-height: 500px)  {
  .navbar {
    width: 20%;
  }

  nav {
    width: 190px;
  }

  .navigation {
    width: 250px;
  }

  .navigation ul li a {
    justify-self: center;
    align-self: center;
  }

  .container {
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    color: var(--text-secondary);
    gap: 0;
  }

  .text-center {
    width: auto;
  }

  .img-style {
    width: 95%;
    height: 95%;
  }

}

@media screen and (max-width: 1200px) {
  .navbar {
    width: 20%;
  }

  nav {
    width: 190px;
  }

  .navigation {
    width: 250px;
  }

  .navigation ul li a {
    justify-self: center;
    align-self: center;
  }

  .container {
    height: 102vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    color: var(--text-secondary);
    gap: 0;
  }

  .text-center {
    width: auto;
  }

  .img-style {
    width: 95%;
    height: 95%;
  }

}

